
#mc_embed_signup input.mce_inline_error 
  border-color: red!important
#mc_embed_signup div.mce_inline_error
  margin: -20px 0 20px 0!important
  padding: 5px 10px
  background-color: red!important
  display: block
  font-size: 0.7em
#mc_embed_signup .asterisk
  color: red
input
  &[type="text"],
  &[type="email"]
    background: none
    border: none
    border-bottom: 2px solid $fg
    width: 100%
    margin-bottom: 20px
input[type="submit"]
  font-family: "futura-pt"
  background: $fg
  border: none
  color: $bg
  font-size: 20px
  border-radius: 15px
  padding: 2px 30px
  width: 100%