@import mixins

body, html
  margin: 0
  padding: 0
body
  background: green
  canvas
    display: block
    margin: 0
    padding: 0
#ui 
  button
    transform: scale(1.3)
    position: absolute
    bottom: 180px
    left: 260px
    background: white
    +break
      bottom: auto
      left: auto
      right: 70px
      top: 340px
      